
html, body {
	font-family: "Arial";
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
	color:#000;
	background-color: white;
}

.error {
    color: red;
}

.success {
    color: #ff9966;
    text-align: center;
    font-weight: bold;
    font-size: 41px;
}

.container {
  background-color: #D3D3D3;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
	max-width: 50%;
	width:100%;
	margin: auto;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: "Arial";
  font-size: 18px;
  height: 50px;
  padding: 10px 0px;
  position: relative;
  max-width: 50%;

  &:focus {
    outline: none;
  }
}

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: #0072c6;
}

.input:focus+.underline {
  transform: scale(1);
}
.underline {
  background-color: white;
  display: inline-block;
  height: 2px;
  position: absolute;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 3.9s linear;
  transition: all 0.2s linear;
  max-width: 50%;
}
